<!DOCTYPE>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Хабр</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  {% load staticfiles %}
  <meta content="" name="keywords">
  <meta content="" name="description">
  <link href="{% static 'img/favicon.png' %}" rel="icon">
  <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,900|Raleway:400,300,700,900" rel="stylesheet">
  <link href="{% static 'lib/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'lib/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet">
  <link href="{% static 'css/style.css' %}" rel="stylesheet">
</head>

<body>
  <!-- Fixed navbar -->
  <div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="{% url 'base_view' %}">Habr<i class="fa fa-circle"></i>kz</a>
      </div>

      <!-- Меню левый край -->
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
          {% block menu %}
          <li class="active"><a href="{% url 'base_view' %}">Мақалалар</a></li>
          <li><a href="#">Пайдаланушылар</a></li>
          <li>
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded = "false">Хабтар <span class="caret"></span></a>
            <ul class="dropdown-menu">
              {% for category in categories %}
              <li><a href="{{ category.get_absolute_url }}">{{ category.name }}</a></li>
              {% endfor %}
            </ul>
          </li>
          {% if not request.user.is_authenticated %}
          <li><a href="{% url 'login_view' %}">Кіру</a></li>
          <li><a href="{% url 'registration' %}">Тіркелу</a></li>
          {% else %}
          {% endif %}
          {% if request.user.is_authenticated %}
          <li><a href="{% url 'account_view' request.user %}">Жeке парақшам</a></li>
          <li><a href="{% url 'logout_view' %}">Шығу</a></li> 
          {% endif %}
          {% endblock menu %}
          </ul>
        <div style="text-align: center">
        <form class="form-inline my-2 my-lg-0" action="{% url 'search-view' %}" method="GET">
          <input style="margin-bottom: 5px" type="input" class="form-control mr-sm-2" placeholder="Керекті мақаланы іздеу" name="q">
          <button style="margin-left:5px;background-color:#ff7878;color:white" class="btn btn-outline-success my-2 my-sm-0">Іздеу</button>
        </form>
        </div>
      </div>
    </div>
  </div>


  <div id="blue">
    <div class="container">
      <div class="row centered">
        <div class="col-lg-8 col-lg-offset-2">
          <h4>ХАБР.KZ</b></h4>
          <p>Қазақстандық айти форум<br>Салеметсизбе, {{ request.user }}</p>
        </div>
      </div>
    </div>
  </div>
{% block content %}
<section>
  <div class="container">
  <div class="top-article">
  <h1>Ең жақсылары : </h1>
  <hr>
<ul>
{% for article in articles %}
{% if article.likes > 0 %}
<div class="col-sm-10" style="margin-bottom: 60px">
  <div class="col-sm-4">
  <img src="{% if article.image %} {{ article.image.url }} {% endif %}" class="img-responsive">
  </div>
  <div class="col-sm-8">
  <div class="text-center">
  <h2>{{ article.title }}</h2>
  <h3>Автор: {{ article.author }}</h4>
  <h3>Категория: {{ article.category }}</h4>
  <p style="color:black;font-size: 20px;font-family: Geneva, Arial, Helvetica, sans-serif;"> {{ article.content|truncatewords:30 }} </p>
  <a href="{{ article.get_absolute_url }}"><button class="btn btn-primary" style="font-size: 20px">Толық оқу</button></a>
  <hr>
  </div>
  </div>
  </div>
{% endif %}
{% endfor %}
</ul>
  </div>
 </div>
</section>
 {% endblock content %}

  <div id="f">
    <div class="container">
      <div class="row centered">
        <a href="#"><i class="fa fa-facebook"></i></a><a href="#"><i class="fa fa-vk"></i></a><a href="#"><i class="fa fa-instagram"></i></a>
      </div>
    </div>
  </div>


  <div id="copyrights">
    <div class="container">
      <div class="credits">
        Dala-<a href="#">Soft</a>
      </div>
    </div>
  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
  <script src="{% static 'lib/bootstrap/js/bootstrap.min.js' %}"></script>
  {% block jquery %}
  {% endblock jquery %}

</body>

</html>
